
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UserDashboard</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
       
          
      </div> -->
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Button</button>
        
      </div> 
  </nav>

  



<div class="container">
    <div class="header">
        <h3>Task to Complete</h3>
</div>
 <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
            <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr >
               
               
            </tr>
        </tbody>
    </table>

</div>